<!doctype>
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/rickshaw.min.css">
<script src="http://code.shutterstock.com/rickshaw/vendor/d3.min.js"></script>
<script src="http://code.shutterstock.com/rickshaw/vendor/d3.layout.min.js"></script>
<script src="http://code.shutterstock.com/rickshaw/rickshaw.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="https://raw.github.com/HumbleSoftware/Flotr2/master/flotr2.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://raw.github.com/HumbleSoftware/Flotr2/master/examples/examples.css">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">
<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}

.rickshaw_graph .y_ticks {
}
#y_axis {
        position: absolute;
        width: 40px;
}

span{
	display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.flot {
    height: 220px;
    width: 350px;
}

th, td { padding: 15px; }
table { border-collapse:separate; border-spacing: 5px; 
border-width: 1;
}
</style>


<!--
<ul>
{{#points}}
  <li>
  ({{date}}, {{value}})
  </li> 
{{/points}}
</ul>
-->

<table>
   <tr>
       <td>
			<div>
				<div id = "ltab1" ></div>
				<div id = "tab1"></div>
				</br>
		        <div id = "stab1"></div>
			</div>
       </td>
       <td>
			<div>
				<div id = "ltab2" ></div>
				<div id = "tab2"></div>
				</br>
		        <div id = "stab2"></div>
			</div>
       </td>
       <td>
			<div>
				<div id = "ltab3" ></div>
				<div id = "tab3"></div>
				</br>
		        <div id = "stab3"></div>
			</div>
       </td>
       <td>
			<div>
				<div id = "ltab4" ></div>
				<div id = "tab4"></div>
				</br>
		        <div id = "stab4"></div>
			</div>
       </td>
   </tr>
   <tr><td>
			<div>
				<div id = "ltab5" ></div>
				<div id = "tab5"></div>
				</br>
		        <div id = "stab5"></div>
			</div>
       </td>
       <td class="flot" id = "tab6">
	       
       </td>
       </td>
       <td class="flot" id = "tab7">
       <td></td>
       <td></td>
   </tr>
   <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
   </tr>
</table>

<script>
(function($) {

	$.fn.drawRickshawChart = function(parameters) {
		var defaults = {
			'type': "line",
			'dataSerie': []
		},
			types = parameters.type,
			options = $.extend(defaults, parameters);
			types = options.type;
		return this.each(function() {
			var datas = options.dataSeries;
			var container = $(this),
				serie = buildRickShawSerie(datas);
			var cont = "#" + container[0].id;
			var graph = new Rickshaw.Graph({
				element: document.querySelector(cont),
				width: container.innerWidth(),
				height: container.innerHeight(),
				renderer: types,
				series: serie
			});
			var x_axis = new Rickshaw.Graph.Axis.Time({
				graph: graph
			});
var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis'),
} );
			var baliseDiv = document.createElement("div");
			baliseDiv.setAttribute("id", "l" + container[0].id);
			container[0].appendChild(baliseDiv);
			var legend = new Rickshaw.Graph.Legend({
				graph: graph,
				element: baliseDiv
			});
			/*
			var baliseSlider = document.createElement("div");
			baliseSlider.setAttribute("id", "s" + container[0].id);
			container[0].appendChild(baliseSlider);
			var slider = new Rickshaw.Graph.RangeSlider({
				graph: graph,
				element: baliseSlider
			});*/
			graph.render();

		});
};

	function buildRickShawSerie(arg) {
		var s = [];
		for (var i = 0; i < arg.length; i++) {
			arg[i] = parseData(arg[i]);
			s.push({
				name: "SQL",
				data: arg[i],
				color: '#' + Math.floor(Math.random() * 16777215).toString(16)
			});
		}
		return s;
	};


	function parseData(d) {
		/* Corriger les valeurs undefined dans le tableau de donnee*/
		for (var i = 0; i < d.length; i++) {
			var value = d[i];
			if (typeof value.y == 'undefined') {
				value.y = null;
				d[i] = value;
			}
		}
		return d;
	};

})(jQuery);

</script>

<script type="text/javascript">
	var type = "line";
	var myData = {{{jsonPoints}}},
	myData2 = {{{jsonPoints1}}};
	var	data=[];
	data.push(myData);	
	data.push(myData2);
	
	var param = {
		dataSeries: data,
		type: "line"
	};

	$(document).ready(function() {
		$('#tab1').drawRickshawChart(param);
	});
</script>
