<!doctype>
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/rickshaw.min.css">
<script src="http://code.shutterstock.com/rickshaw/vendor/d3.min.js"></script>
<script src="http://code.shutterstock.com/rickshaw/vendor/d3.layout.min.js"></script>
<script src="http://code.shutterstock.com/rickshaw/rickshaw.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="https://raw.github.com/HumbleSoftware/Flotr2/master/flotr2.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://raw.github.com/HumbleSoftware/Flotr2/master/examples/examples.css">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">

<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}

.rickshaw_graph .y_ticks {
}
#y_axis {
        position: absolute;
        width: 40px;
}

span{
	display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.flot {
    height: 220px;
    width: 350px;
}

th, td { padding: 15px; }
table { border-collapse:separate; border-spacing: 5px; }
</style>

<!--
<ul>
{{#points}}
  <li>
  ({{date}}, {{value}})
  </li> 
{{/points}}
</ul>
-->




<table>
   <tr>
   	
       <td>
			<div>
				<div id = "ltab1" ></div>
				<div id = "tab1"></div>
				</br>
		        <div id = "stab1"></div>
			</div>
       </td>
       <td>
			<div>
				<div id = "ltab2" ></div>
				<div id = "tab2"></div>
				</br>
		        <div id = "stab2"></div>
			</div>
       </td>
       <td>
			<div>
				<div id = "ltab3" ></div>
				<div id = "tab3"></div>
				</br>
		        <div id = "stab3"></div>
			</div>
       </td>
       <td>
			<div>
				<div id = "ltab4" ></div>
				<div id = "tab4"></div>
				</br>
		        <div id = "stab4"></div>
			</div>
       </td>
       
   </tr>
   <tr><td>
			<div>
				<div id = "ltab5" ></div>
				<div id = "tab5"></div>
				</br>
		        <div id = "stab5"></div>
			</div>
       </td>
       <td class="flot" id = "tab6">
	       
       </td>
       </td>
       <td class="flot" id = "tab7">
       <td></td>
       <td></td>
   </tr>
   <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
   </tr>
</table>


<script>
var myData = {{{jsonPoints}}},
	datas2 = parseData(myData);
	myData2 = {{{jsonPoints1}}},
	datas3 = parseData(myData2);
     container = document.getElementById('chart'),
     line = 'line',
     area = 'area',
     stack = 'stack',
     bar = 'bar',
     scatterplot = 'scatterplot';
     
    var serial = buildRickShawSerie(myData,myData2),
    serie1= buildRickShawSerie(myData),
    serie2 = buildRickShawSerie(myData2),
    flotserie = buildFlotrSeries(myData);
    flotserie2 = buildFlotrSeries(myData,myData2);
	
	/*var myGraph = new drawRickshawGraph(datas2,container,type);*/
	new drawRickshawGraph(serie2,"tab1",bar);
	new drawRickshawGraph(serial,"tab2",line);
	new drawRickshawGraph(serie1,"tab3",bar);
	new drawRickshawGraph(serial,"tab4",scatterplot);
	new drawRickshawGraph(serial,"tab5",bar);
	 /*new drawWithFlotr(serie1,"tab6")*/
	new drawFlotrChart(flotserie,'tab6','bars');
	new drawFlotrChart(flotserie2,'tab7','line');
	 
	
	
function drawRickshawGraph(serie,cont,type){
	 var palette = new Rickshaw.Color.Palette();
	 var v = "#"+cont;
	 var graph = new Rickshaw.Graph( {
        element: document.querySelector(v),
        width: 300,
        height: 170,
        renderer: type,
        series: serie
} );

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis'),
} );

graph.render();
	var legend = new Rickshaw.Graph.Legend({
	graph: graph,
	element: document.getElementById('l'+cont)
});

var slider = new Rickshaw.Graph.RangeSlider({
graph:graph,
element : $('#s'+cont)
});
	 
}


/*Flotr2*/
function drawFlotrChart(data,id,type) {
    var
        container = document.getElementById(id);        
    Flotr.draw(
        container,
        [data],
        {
    lines: { show: type=='line' 
    
    },
    bars: { show: type=='bars'  
    
    },
    candles: { show: type=='candles' 
    
    },
    pies: { show: type=='pies' 
    
    },
    bubbles: { show: type=='bubbles' 
    
    },
    radar: { show: type=='radar' 
    
    },
    stacked: { show: type=='stacked' 
    
    },
    
    fontColor: '#96a5b0',
    xaxis: {
        showLabels: true,
        color : '#95a5b'
        
    },
    yaxis : {
        tickDecimals: 0,
        color: '#96a5b0'
    },
    grid: {
        color: '#e9edef',
        verticalLines: false,
        outlineWidth: 0
    }
}
    );
}

/*PARSING*/
function buildFlotrSeries(){
	var series=[];
	for (var i= 0; i < arguments.length; i++){
		arguments[i] = parseData(arguments[i]);
		for (var j=0; j< arguments[i].length;j++){
		series.push ([arguments[i][j].x, arguments[i][j].y]);
		}
	}
	return series;
}

function buildRickShawSerie(){
	var series=[];
	for (var i= 0; i < arguments.length; i++){
		arguments[i] = parseData(arguments[i]);
		series.push({name: "SQL",
					 data: arguments[i],
					 color: '#'+Math.floor(Math.random()*16777215).toString(16)});
	}
        
    return series;
}


function parseData( data){
   /* Corriger les valeurs undefined dans le tableau de donnee
 	for(var value in data){
	    if (typeof value.y == 'undefined'){
	    	value.y = null;
	    }
 	}*/
 	for(var i= 0;i< data.length;i++){
 		var value = data[i];
 		if (typeof value.y=='undefined'){
 			value.y = null;
 			data[i]=value;
 		}
 	}
 	return data;   
}

</script>