<!DOCTYPE html>
<html>
  <head>
    <title>Analytica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{! cdn nvd3 css}}
    <link rel="stylesheet" type="text/css" href="http://nvd3.org/src/nv.d3.css">

    {{! cdn bootstrap css}}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  </head>
  <body>



   {{! Barre de navigation.}}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Analytica</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">DashboardFicen</a></li>
                  <li><a href="#">Dashboard1</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {{! Mettre le contenu des graphes ici.}}
      
      <div class="hero-unit">
          HELLO WORL
      </div>
    {{! Composants graphiques.}}
    <div class="row">
        <div class="span4">
          <div id="c1"><svg></svg></div>
        </div>
        <div class="span4">
          <div id="c2"><svg></svg></div>
       </div>
        <div class="span4">
         <div id="c3"><svg></svg></div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div id="c4"><svg></svg></div>
        </div>
        <div class="span6">
          <div id="c5"><svg></svg></div>
      </div>
      </div>
    </div>
     <hr>
    <a href="../web/index.html">INDEX</a>

    {{! cdn jquery}}
    <script src="http://code.jquery.com/jquery.js"></script>
    {{! cdn bootstrap js}}
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    {{! cdn nvd3 js}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.1.6/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/0.9/nv.d3.min.js"></script>
     {{!plugin jquery}}
    <script src="../web/app/scripts/analyticandv3linechart.js"></script>

    {{! mettre l'appel du plugin jquery ici.}}
    
    <script type="text/javascript">  
      var data = {{{jsonPoints3}}};
        $(document).ready(function() {
          $('#c1').drawlineChartWithNvd3(data);
          $('#c2').drawStackedAreaChartWithNvd3(data);
          $('#c3').drawMultiBarChartWithNvd3(data);
          $('#c4').drawlineChartWithNvd3(data);
          $('#c5').drawbarChartWithNvd3(data);
        });
    </script>

   
    
  </body>
</html>