<!DOCTYPE html>
<html>
  <head>
    <title>Analytica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{! cdn bootstrap css}}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <h1>Application Analytica</h1>
      {{! Mettre le contenu des graphes ici.}}
      <div id="graphes" class="graphes">

      </div>
    </div>    
    {{! cdn jquery}}
    <script src="http://code.jquery.com/jquery.js"></script>
    {{! cdn bootstrap js}}
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    {{! mettre l'appel du plugin jquery ici.}}
    <script type="text/javascript">
   
     </script>
  </body>
</html>