<div id ="container">
	<p class = "muted credit">
		<p class="version">{{version}}du {{date}}</p>
		<p class="contact">
			Pour toutes remarques ou suggestions, merci de nous envoyer un email a <a href={{contact}}>{{contact}}</a>
		</p>
	</p>
</div>
