<!DOCTYPE html>
<meta charset="utf-8">

<html>
	<head>
	    <title>Analytica DashBoard</title>

	    <!-- stylessheets-->
	    <link rel="stylesheet" type="text/css" href="static/vendor/styles/bootstrap/bootstrap-combined.min.css">
	    <link href="static/vendor/styles/bootstrap/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	</head>

	<body >
		<div id='dashboard' class="container">
			qsmqmslqmsl sdsdsd sldkslksmdsdk sdksdksjd
			<!-- Composants graphiques.-->
   		</div>
   		
   		<footer id='footer' class="footer">
			{{> footer}}
		</footer>
	</body>
</html>