<div id="punchcard"></div>

<script>
	$.getJSON('http://localhost:8083/home/tablePunchcard/SQL', function(data) {
		var datas = {};
		datas.data = data;
		$("#punchcard").drawD3PunchCard(datas);
	});
</script> 