.grey-bg{
	background-color:#eeeeee;
}


/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.ui-widget-header{
  background-color: #bbb;
  text-transform: none; f
  font-weight: 100; 
  margin-bottom: 0;
}
.ui-widget-header h{
  margin-left: 10px;
}


.tile{
    height:100px;  
    width:100px; 
    float:left;
    margin:0 5px 0 0;
    padding:2px;
}

.analytica-tile {
  display: block;
  
  box-shadow: inset 0px 0px 1px #FFFFCC;
  text-decoration: none;
  text-align:center;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 14pt;
  margin-top: 20px;
  padding-top: 30px;
}

.analytica-tile-content {
  text-align:  center;
  
  display:block;
  font-family:Arial,Helvetica,sans-serif;

  font-size:56pt;
    color:#FF4444;

  line-height:100%;
}

.analytica-brand{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  background-color: transparent;
  *zoom: 1;
}

.analytica-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  right: 5px;
  margin-bottom: 0;
  width: 34px;
  height: 28px;
  text-align: center;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 11pt;
  letter-spacing: 0.01em;
  line-height: 13pt;
}


#wallClock {
  color:black;
  width:200px;
  text-align:center;
  padding:20px;
  
}

#fullDate {
  display:block;

}

#bigTime {
  display:block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:56pt;
  color:black;
  line-height:100%;
}

#dayName {
  display:inline;
 }

#seconds {
  display:inline;
  font-family:Courier,monospace;
  font-weight:bold;
  font-size:16pt;
  color:black;
}

svg{
    display:block;
    margin:auto;
  }

.table th {
  text-align:center;
}

.table th , .table td {
  font-weight: 100;
  line-height:12px;
  vertical-align: middle;
}

.table p{
  text-align: right;
}


 #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
        }
      
#footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }
.credit {
        margin: 20px 0;
      }

.test{
  height:300px;

}

.graph{

}
.sparks {
  text-align: center;

}
.spark-text{
  text-align: right;
  color:#FF4444;
}

.mixed-table td{
}

      .axis path,
      .axis line {
          fill: none;
          stroke: grey;
          stroke-width: 1;
          shape-rendering: crispEdges;
          
      }
      .axis text{
        font-size: 10px;        
      }

      .line {
         fill: none;
         stroke: #FF4444;
         stroke-width: 1.5px;
      }

      .tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 25px;
        font: 9px Helvetica,sans-serif;
        background: #FFF;
        border: 0px;
        border-radius: 6px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
        pointer-events: none;
        text-shadow: 0px 1px 0px #ccc;
      }

      .legend {
              padding: 5px;
              font: 10px sans-serif;
              background: yellow;
              box-shadow: 2px 2px 1px #888;
      }

      .area{
        fill: #ADD8E6;                  
          stroke-width: 0px;     
      }

      .bar:hover { 
                 fill: orange !important;
            }

.text-right
{
    text-align: right !important;
}

.text-center
{
    text-align: center !important;
}

.text-left
{
    text-align: left !important;
}
/*--------------------------------------------------------------------*/

.widget-canvas{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px auto;
  padding: 0 30px;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
  
.negative{
  /*color:#9d3926*/color: #CC0000
}
.level{/*color:#b67124*/ color: #FFBB33}
.positive{color:#669900}

.led{position:absolute;width:10px;height:10px;top:16px;left:12px;padding:0 !important;display:block !important}
.led.success
{background-position:0 -3117px;cursor:default}
.widget-size-1x1{height:200px}
.success{padding:20px 20px 20px 61px;color:white;position:relative;border-radius:3px;line-height:1.4;display:none}
.success{background-color:#6db64c;padding-left:54px}
.monitoring-widget .widget-canvas .status
{text-transform:capitalize;padding-top:10px;margin-bottom:24px}
.monitoring-widget .widget-canvas .server-time
{width:50%;float:left}
.monitoring-widget .widget-canvas .server-time .label
{color:#828282;text-transform:uppercase;margin:auto}
.monitoring-widget .widget-canvas
{padding-top:5px;margin:48px 0}
.t-size-x10
{font-size:10px}
.t-size-x11
{font-size:11px}
.t-size-x12
{font-size:12px}
.t-size-x14
{font-size:14px}
.t-size-x18
{font-size:18px}
.t-size-x20
{font-size:20px}
.t-size-x24
{font-size:24px}
.t-size-x28
{font-size:28px}
.t-size-x30
{font-size:30px}
.t-size-x36
{font-size:36px}
.t-size-x40
{font-size:40px}
.t-size-x44
{font-size:44px}
.t-size-x48
{font-size:48px}
.t-size-x52
{font-size:52px}
.t-size-x60
{font-size:60px}
.t-size-x72
{font-size:72px}
.t-size-x100
{font-size:100px}
.t-size-x108
{font-size:108px}
.number-widget .widget-canvas .unit
{font-size:0.7em}
.widget-size-1x1 .number-widget .secondary-stat
{margin:12px 0 0}
section
{display:block}
body{font:400 0.95em/1 "Proxima Nova",Helvetica,sans-serif}

.rag-widget table,.widget-canvas table
{width:100%}
.rag-widget table tr,.widget-canvas table tr
{border-bottom:solid 1px #5c5c5c}
.rag-widget .widget-canvas table tr:last-child
{border-bottom:none}
.rag-widget .widget-canvas table tr:first-child td
{padding-top:0}
.rag-widget .widget-canvas table td
{padding:6px 0}
.rag-widget .widget-canvas table td.t-secondary
{font-size:12px;padding-left:12px}

.represent{
  color: #0099CC
}

.ass{
  margin: 0 auto;
  padding: 40px;
}

.clock-content{
  margin: 0 auto;

}

div.pager span {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background: #A9A9A9;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #696969;
}

div.pager{
  height:20px;
}
.table-striped-override tbody > tr:nth-child(odd) > td, .table-striped-override tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.th-label{
  background-color:#828282;
  text-transform:uppercase;
  margin:auto
}


table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}


table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}

/*table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}*/