.grey-bg{
/*	font-size:18px;
	font-weight:200;
	line-height:30px;color:inherit;*/
	background-color:#eeeeee;
/*	-webkit-border-radius:6px;
	-moz-border-radius:6px;border-radius:6px;*/
}


/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.ui-widget-header{
  background-color: #bbb;
}
.ui-widget-header h{
  margin-left: 10px;
}