<div class = 'row'>

        <div class = 'span3 grey-bg'>
          <div id = 'idgraphique0'></div>
          
        </div>
        <div class = 'span3 grey-bg'>
          <div id='idgraphique1'></div>  
        </div>
        <div class = 'span3 grey-bg'>
          <div id = 'idgraphique2'></div>
        </div>
        <div class = 'span3 grey-bg'>
          <div id = 'idgraphique3'></div>
        </div>
      </div>