
<div class = "ui-widget-header "><i class="{{icon}}"></i><h>{{title}}</h> </div>
        <div id="bigValue" class="analytica-tile">
          
          <div class ="analytica-tile-content" >
            <span >{{data}}
            </span>
          </div>
          <div class = "analytica-brand">
          <span class = "analytica-badge">{{label}}</span></div>
      </div>