<!-- Graphs.-->
      <!-- ROW 1-->
      <div id = 'row1' class="row">
        <div id="idgraphique0" class="span3"></div>
        <div id="idgraphique1" class="span3"></div>
        <div id="idgraphique2" class="span3"></div>
        <div id="idgraphique3" class="span3"></div>
      </div>
      <hr>
      <!-- ROW 2-->
      <div id = 'row2' class="row">
         <div id="idgraphique4" class="span12"></div>
      </div>
      <hr>
      <div id = 'row3' class="row">
        <div id="idgraphique5" class="span12"></div>
      </div>
    </div>