<div class="row show-grid">
        <!--This should be in a template file-->
        <div class="span3 grey-bg">
        <div class = "ui-widget-header "><i class="icon-picture"></i><h>HORLOGE</h> </div>
        <div id="wallClock">
          <!--<div class="grey-bg">-->
          <div id="fullDate"></div>
          <div id="bigTime"></div>
          <div id="dayName"></div>
        <!--</div>-->
        </div>
        </div>
        <!--This should be in a template file-->
        <div class="span3">
        <div  class="grey-bg">
          <div id = "idbigvalue"></div>
        </div>
        </div>

        <div class="span3">
          <div class="grey-bg">
            <div id="idgraphique0" ></div>
          </div>
        </div>
        <div class="span3">
          <div class="grey-bg">
            <div id="idgraphique1" ></div>
          </div>
        </div>
        <div class="span3">
          <div class="grey-bg">
            <div id="idgraphique2" ></div>
          </div>
        </div>
        <div class="span3">
          <div class="grey-bg">
            <div id="idgraphique3" ></div>
          </div>
        </div>
      </div>
            
      <div class="row show-grid">
        <div class="span6">
          <div class="grey-bg">
            <div id="idgraphique4" ></div>
          </div>
        </div>
        <div class="span6">
          <div class="grey-bg">
            <div id="idgraphique5" ></div>
          </div>
        </div>
      </div>

      <div class="row show-grid">
        <div class="span12 grey-bg">
            <div id="idgraphique6" ></div>
        </div>
      </div>

       <div class="row show-grid">
        <div class=" span12 grey-bg">
            <div id="idgraphique7" ></div>
        </div>
      </div>