   
        <!--This should be in a template file-->
    
        <!--This should be in a template file-->
       
        <div class="span12">
          <div class="grey-bg">
            <div id="idgraphique4" class="test" ></div>
          </div>
        </div>
        
