<div class="row show-grid">
        <!--This should be in a template file-->
        
        <!--This should be in a template file-->
        <div id = "idgraphique1" class="grey-bg span3">
        
        </div>
        <div id="idgraphique2" class="grey-bg span6">
          
        </div>
        <div id = "idgraphique" class="grey-bg span3">
        
        </div>
      </div>
            
      
      
      <div class="row show-grid">
        <div id="idgraphique3" class="span12 grey-bg">
        </div>
      </div>