<div class="widget-inner  widget-size-1x1">
  <div class="ui-widget-header ">
    <i class="icon-picture"></i>
    <h>Up Time</h>
  </div> 
  <a class="led success" href="#"></a>
  <section class="widget-body monitoring-widget">
    <div class="widget-canvas">
      <div class="status positive text-center">
        <div class="sparkline-wrapper">
          Sparkline Here(YES)
        </div>
      </div>
      <div class="server-times">
        <div class="server-time">
          <div class="label t-size-x10">Last downtime</div>
          <div class="t-size-x24 ">12d 22h </div>
        </div>
        <div class="server-time">
          <div class="label t-size-x10">Response time</div>
          <div class="t-size-x24 ">181ms</div>
        </div>
      </div>
    </div><!-- .widget-canvas -->
  </section>    
</div>