* {
	margin:0px;padding:0px;
}

BODY{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:11pt; /*si <=10 pas de bold en Arial*/	
	min-width : 1024px;
	/*background: #24292D;*/
  	background-image: url('../img/background.png');
	text-align:left;
	width:100%;
}

.div {
  padding: 0px; margin: 0px;
}

div#main {
  margin-left: 30px;
  margin-right: 30px;
  /*background: #24292D;*/
  /*background-image: url('../img/background.png');*/
}
table {
	font-size:1em;
} 

a {color: #00F;}

#logo {
	float:left;
}

div#header {
	height:55px;
	background-image: url('../img/header-background.png');
	border-bottom: 2px solid #555;
	margin-bottom: 15px;
}
div#header-inner {
}
#nav {
	float:left;
}
div.tablist-panel {
	background: #FFF;
	height:15px;
	position:relative;
	top:-15px;
}
div.tablist-shadow {
	background: #666;
	height:15px;
	position:relative;
	left:5px;
	top:5px;
}
#nav ul {
  text-align: left;
  color: #333;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#nav li {
  display: inline;
  list-style-type: none;
  /*border-right: 1px solid #333;*/
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-right:10px;
  margin-left:0px;
  /*background: #67F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
}
#nav li.tab-selected {
  /*background: #FFF;*/
  font-weight: bold;
  color: white;
  background:	rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#nav li a:link, #nav li a:visited {
  /*color: #FFF;*/
  color: #AAA;
  text-decoration: none;
}
#nav li.tab-selected a:link, #nav li a:visited {
  /*color: #333;*/
  color: #FFF;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1.1em;
}
h1 {
  font-family: 'trebuchet ms', verdana, arial, sans-serif; 
  font-size: 1.0em;
  letter-spacing: 1em;
  color:#333;
  height:48px;
  border-bottom: 2px #333 dotted;
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 53px;
  background-repeat:no-repeat;
  background-position:left;
  background-image: url('../img/misc.png');
}
table {border-collapse: collapse; margin-top: 5px; margin-bottom: 5px;}
th {border: 1px solid #000000; background: #AAA;}
td {border: 1px solid #000000;}
img {margin-top: 4px; border: 0px;}
tr.odd td {background: #EEE}

.panel {
  position: relative;
  float: left;
  margin: 0.5%;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel table {
  font-size:0.8em;
  width:94%;
}

.panel-size-1x1 {
	width:24%;
	background: url('../img/bg_panel_mid-x1.png') repeat;
    height:201px;
}
.panel-size-2x1 {
	width:49%;
	background: url('../img/bg_panel_mid-x1.png') repeat;
    height:201px;
}
.panel-size-4x1 {
	width:99%;
	background: url('../img/bg_panel_mid-x1.png') repeat;
    height:201px;
}
.panel-size-1x2 {
	width:24%;
	background: url('../img/bg_panel_mid-x2.png') repeat;
    height:409px;
}
.panel-size-2x2 {
	width:49%;
	background: url('../img/bg_panel_mid-x2.png') repeat;
    height:409px;
}
.panel-size-4x2 {
	width:99%;
	background: url('../img/bg_panel_mid-x2.png') repeat;
    height:409px;
}
.panel-size-1x1 .panel-left, .panel-size-1x1 .panel-right, .panel-size-2x1 .panel-left, .panel-size-2x1 .panel-right, .panel-size-4x1 .panel-left, .panel-size-4x1 .panel-right  {
	margin-top:-10px;
  	width:18px;
	height:221px;
}
.panel-size-1x2 .panel-left, .panel-size-1x2 .panel-right, .panel-size-2x2 .panel-left, .panel-size-2x2 .panel-right, .panel-size-4x2 .panel-left, .panel-size-4x2 .panel-right  {
	margin-top:-10px;
  	width:35px;
	height:429px;
}

.panel-size-1x1 .panel-right, .panel-size-2x1 .panel-right, .panel-size-4x1 .panel-right {
  float:right;
  background: url('../img/bg_panel_right-x1.png') no-repeat right top;
}
.panel-size-1x2 .panel-right, .panel-size-2x2 .panel-right, .panel-size-4x2 .panel-right {
  float:right;
  background: url('../img/bg_panel_right-x2.png') no-repeat right top;
}

.panel-size-1x1 .panel-left, .panel-size-2x1 .panel-left, .panel-size-4x1 .panel-left {
  float:left;
  background: url('../img/bg_panel_left-x1.png') no-repeat right top;
}
.panel-size-1x2 .panel-left, .panel-size-2x2 .panel-left, .panel-size-4x2 .panel-left {
  float:left;
  background: url('../img/bg_panel_left-x2.png') no-repeat right top;
}

.panel-header {
  margin-bottom: 5px;
}

.panel .panel-icon {
  position: absolute;
  top:7px;
  right:7px;
}

.panel h1 {
  font-family:  verdana, 'trebuchet ms',arial, sans-serif; 
  /*font-size: smaller;*/
  letter-spacing: 0em;
  color:#333;
  border-bottom: none;
  margin: 0px;  padding:0px;
  margin-left: 15px;
  height:25px;
  background-image: none;
}

.flotr_container, .amc_container {
	align:center;
	width:95%;
	margin:0 auto;
}
.panel-size-1x2 .chart_container, .panel-size-2x2 .chart_container, .panel-size-4x2 .chart_container  {
	height:380px;
}
.panel-size-1x1 .chart_container, .panel-size-2x1 .chart_container, .panel-size-4x1 .chart_container  {
	height:180px;
}

.amc_container {
	position:absolute;
    font-size: 1.1em; color: #BD3632; font-weight:bold; 
	float:left; padding: 0; margin: 0 4px 0 0;
}

.bigValue {
	font-weight: bold;
	color: #FF6600;
	text-shadow: #B3B3B3 1px 1px 3px;
}

.bigValue .value {
	font-size: 40px;font-weight: bold;
	color: #FF6600;
	text-shadow: #B3B3B3 1px 1px 3px;
}

.bigValue .label {
	font-size: 18px;font-weight: bold;
	color: #FF6600;
	text-shadow: #B3B3B3 1px 1px 3px;
}

.panel img {margin: 0px; padding: 0px;}
.managerSummaryTop div {
 position: absolute; top: 0px; right: 0px;
 height: 20px; width: 20px;
  background: #ddd url('../img/bg_manager_topright.gif') no-repeat right top;
} 
.managerSummaryTop span {
 position: absolute; top: 0px; left: 0px;
 height: 20px; width: 20px;
  background: #ddd url('../img/bg_manager_topleft.gif') no-repeat left top;
} 
.managerSummaryTop {
 position: absolute; top: 0px; left: 0px;
 height: 20px; width:100%;
  background: #ddd url('../img/bg_manager_top.gif') repeat-x left top;
border-bottom: 1px #333 solid;
} 
.managerSummaryBtm div {
 position: absolute; bottom: 0px; right: 0px;
 height: 20px; width: 20px;
  background: url('../img/bg_manager_btmright.gif') no-repeat right bottom;
} 
.managerSummaryBtm span {
 position: absolute; bottom: 0px; left: 0px;
 height:20px; width:20px;
  background: url('../img/bg_manager_btmleft.gif') no-repeat left bottom;
} 
.managerSummaryBtm {
 position: absolute; bottom: 0px; left: 0px;
 height:20px; width:100%;
  background: url('../img/bg_manager_btm.gif') repeat-x left bottom;
} 
.managerSummaryBorderLeft {
 position: absolute; left: 0px; top:0px;
 height: 100%; width: 4px;
  background: url('../img/bg_manager_midleft.gif') repeat-y left top;
} 
.managerSummaryBorderRight {
 position: absolute; right: 0px; top:0px;
 height: 100%; width: 4px;
  background: url('../img/bg_manager_midright.gif') repeat-y right top;
} 

.description {
  font-size:smaller;
} 
.panel .description {
  padding:0; margin:0; margin-left:55px; margin-right:6px; margin-bottom:5px;
} 
.panel .description p, .managerSummary .description h3 {
	  padding:0px; margin:0px;
	  margin-bottom:4px;
	}
.mainInfo {
	  margin:0; padding-bottom:10px;
	}
.clear {clear:both; height: 0; padding: 0; margin: 0; font-size:0px; line-height:0px;}
.managerIcon {position:absolute; top:25px; left: 6px;}
.managerState {float:left; padding: 0; margin: 0 4px 0 0;} 
.managerState img {width:16px; height:16px;} 
.mainInfo .managerState img {width:50px; height:50px;} 
.managerValue { 
   font-size: 1.1em; color: #BD3632; font-weight:bold; 
	float:left; padding: 0; margin: 0 4px 0 0;
}
.managerUnit { 
	font-size: 1.1em; color: #24292D; font-weight:bold;
	float:left; padding: 0; margin: 0;
}
.mainInfo .managerValue { 
	font-size: 45px; line-height: 1em;
}
.mainInfo .managerChartValue { 
	float:left; padding: 0; margin: 0 4px 0 0;
}
.mainInfo .managerUnit { 
	font-size: 20px; 
}
table.securityTable {
  margin: 2px;
  border:solid 1px #DDDDDD;
  font-size:0.8em;
} 
table.securityTable th {
  background-color:DarkGrey;
  font-weight:bold;
  font-size:1em;
  vertical-align: top;
} 
table.securityTable tr.header th {
  background-color:DarkGrey;
} 
table.securityTable th.module {
  background-color:DeepSkyBlue;
  font-size:1em;
} 
table.securityTable tr.odd th {
  background-color:DimGrey;
} 
table.securityTable tr.odd td {
  background-color:#E8E8E8;
} 
table.securityTable td.ok {
  background-color:green;
} 
table.securityTable td.nok {
  background-color:red;
} 
table.securityTable tr.odd td.ok {
  background-color:darkgreen;
} 
table.securityTable tr.odd td.nok {
  background-color:darkred;
} 
table.graphHTML {
  margin: 2px;
  border:solid 1px #DDD;
} 
table.graphHTML TR TD {
  vertical-align: bottom;
  border: 0px;
  padding: 1px;
  padding-left:0px;
} 
table.graphHTML TR TD.legende {
  vertical-align: top;
  width: 50px;
  text-align: right;
} 
table.graphHTML TR TD.legendeDateDebut {
  vertical-align: top;
  text-align: left;
} 
table.graphHTML TR TD.legendeDateFin {
  vertical-align: top;
  text-align: right;
} 
table.graphHTML TR TD div {
  display: block;
  background:#669933;
  width: 5px;
  font-size:0.1px;
} 
table.graphHTML TR TD div.negative {
  background:#EEEEEE;
  height: 1px;
} 
table.graphHTML TR TD div.empty {
  background:#FFFFFF;
  height: 60px;
} 



/* states and images */
/**crée avec le WS: http://jqueryui.com/themeroller/images/?new=D14836&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png*/
.ui-icon { width: 16px; height: 16px; background-image: url(./cupertino/images/ui-icons_D14836_256x240.png); }
.ui-icon-6e6e6e { background-image: url(./cupertino/images/ui-icons_6e6e6e_256x240.png); }
.ui-icon-search { background-position: -160px -112px; }

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
input.ui-button { padding: .4em 1em; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
