

.d3chart {
	
}

.dataTable th {
	text-align:center;
}
.dataTable td.right {
	text-align:right;
}

.objective {
	overflow: hidden;
}
.objective .gauge  {
	float:left;
	position: relative;
	margin-right:5px;	
	margin-bottom: 5px;
}

.objective .title {
	text-align: center;
	margin-top: -5px;	
}

.objective .number i  {
	font-size: 30px;
}

.objective .number {
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 40px;
	margin-left: -20px;
	margin-top: -25px;
	text-align: center;	
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bignumber .metricLine {
	margin-bottom: 15px;
}
.sparkbar, .sparkline {
	height : 51px;  /*font-size: 36px; => height:51px */
	display : inline-block;
}
.bignumber .number {
	line-height : 36px;
	font-size: 36px;
	font-weight:bold;
}
.bignumber .title {
	line-height : 18px;
	float:right;
	text-align: right;
}

#tooltip {
	position: absolute;
	display: none;
	border: 2px solid #999;
	border-radius:3px;
	box-shadow: 3px 3px 2px #888;
	padding: 3px;
	background-color:#F8F8F8;
	/*opacity : 0.9;*/
	font-size:0.9em;
	z-index:8020;
}

#tooltip .xvalue {
	/*font-size:0.8em;*/
}
#tooltip .serie {
	font-weight:bold;
}
#tooltip .yvalue {
}