#embed-options
{
    font-size:14px;
}
#embed-window
{
    display:none;
}

#infolist-wrapper
{
    overflow-y:auto;
    overflow-x:hidden;
    padding:1px;
    width:950px;
    margin:0px;
    display:table;
}
.toggleList{
    list-style:none;
}
.info-list.last
{
    margin-right:0px;
}
.info-list{
    float:left;
    width:305px;
    padding:0px;
    list-style: none;
    margin-top:5px;
    margin-right:18px; 
    margin-left:-1px;
    text-align:left;
    border-bottom:solid 1px #ddd;
    
    /*background:#FACACA;
}

.info-list .list-alt
{
    background:#F7B0B0;
*/}
.info-list li{
    padding:10px;
    color:#333;
    background:#fff;
    border-top:#fff;
    border-right:solid 1px #ddd;
    border-left:solid 1px #ddd;
    cursor:pointer !important;
    font-size:14px;
}

.info-list .list_header{
    text-align:center;
    font-size:24px;
    text-shadow: 0px 2px rgba(0,0,0,.3);
    color:white;
    background:#b32d2d;
    cursor:default;
    margin-bottom:0px;
    padding:12px 0px;
}

.info-list img{
    vertical-align:top;
}

.info-list#Canlist li 
{
    color:#3ca740;
    
}
.info-list#Canlist li.list_header
{
    color:white;
    background:#379b35;
}
.info-list#Mustlist .list_header
{
    background:#35579b;
    color:white;
}
.info-list#Mustlist li
{
    color:#2d5fb3;
}

.info-list#Cannotlist li.list_header{
    color:white;
    background:#9b3535;
}
.info-list#Cannotlist li{
    color:#b32d2d;
    border-right:solid 1px #ddd;
}
#license_desc
{
    position:relative;
    color:#404040;
    text-align: center;
    font-size:16px;
    line-height:28px;
    margin-bottom:10px;
    border:solid 1px #ddd;
    border-radius: 5px;
    background:#fff;
    margin-top:10px;
}

#license_desc p
{
    text-align: center;
}

#license_desc .header
{
    text-align: center;
    border-bottom:dotted 1px #ccc;
    padding-bottom: 3px;
    font-weight: bold;
    color:black;
    font-size:18px;
}

#license_desc a
{
    color:#2D5FB3;
    font-weight:bold;
    text-decoration:none;
    padding:5px;
    line-height:24px;
}
#license_desc img
{
    vertical-align: text-top;
}

h1
{
    color:#404040;
    margin:0px;
    font-size:38px;
    text-shadow:0px 3px rgba(0,0,0,.15);
    margin-bottom:15px;
}
h2{
    margin:0px;
}
h2.open
{
    color:#267E32;
    font-weight: normal;
    font-size:25px;
    margin-bottom:20px;
}
.ui-tooltip-attr{
    border-radius: 5px;
    font-family:arial;
    font-size:10px;
    font-weight: bold;
    background:#000;
    text-align:center;
    color:#fff;
}

.toggleCollapse{
    width:16px;
    height:16px;
    text-align:top;
    background:url(../img/collapse_icon.png) 0px 0px no-repeat;
    color:transparent;
    display:inline-block;
    opacity:0.6;
    filter:alpha(opacity=60);  
    cursor:pointer;
}

.toggleCollapse.active
{
    background-position-x: -16px;
}

.attr-desc{
    display:none;
    padding-left:36px;
    font-weight: 100; 
    font-size:12px; 
    color:#333;
}

img
{
    vertical-align: top;
}

#problem_btn
{
    font-size:14px;
    text-decoration:none;
    color:red;
}
.fulltext-header
{
    background:#404040;
    color:#fff;
    padding:10px;
    font-size:16px;
    text-shadow:0px 2px rgba(0,0,0,.3);
}
#fulltext-area .realtext
{
    font-family:courier;
    border:solid 1px #ccc;
    padding:15px;
    height:280px;
    overflow:auto;
    background:#eee;
    color:#999;
    text-align:left;
}
#comments
{
    margin-top:10px;
    color:#555;
}

@media (max-width: 630px)
{
    #license_desc,#infolist-wrapper
    {
        width:330px;
        margin:0 auto;
    }
    #infolist-wrapper ul
    {
        margin:10px;
    }
    #uvTab{display:none !important;}

    .container
    {
        width:400px;
    }

}